spring.application.name=elasticSearch_poc

## ElasticSearch Config
elasticsearch-host=<elastic-search-host-ip>
elasticsearch-port=<elastic-search-host-port>
elasticsearch-protocol=https
elasticsearch-user-name=<elastic-search-host-username>
elasticsearch-password=<elastic-search-host-password>
elasticsearch-trust-location=<path-to-your-keys>/truststore.p12
